.contact,
.contact-content,
.contact-form,
.contact-form button,
.contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 100%;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    background-image: linear-gradient(to left, rgba(38, 37, 41, 0.5), rgba(9, 60, 156, 0.5)), url(../../assets/images/backgrounds/contacts.jpg);
    background-size: cover;
}

.contact-content {
    width: 100%;
    height: 70%;
    margin-top: 20px;
}

.contact-form {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    input,
    textarea,
    button {
        width: 80%;
        height: 70px;
        border-radius: 5px;
        border: 0px;
        background-color: whitesmoke;
        padding: 10px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
    }

    textarea {
        height: 150px;
        vertical-align: top;
    }

    button {
        width: 20%;
        height: 50px;
        background-color: rgb(221, 210, 210);
        color: rgb(82, 81, 81);
        box-shadow: 2px 2px 10px rgb(230, 144, 144);
        font-size: 22px;
        font-weight: 600;
        transition: transform .3s ease;
    }

    button:hover {
        background-color: rgb(158, 153, 153);
        color: rgb(34, 33, 33);
        transform: scale(1.1, 1.1);
        transition: transform .3s ease;
    }
}

.contact-text {
    padding: 10%;
    width: 50%;
}


/* Responsive */

@media (max-width : 800px) {
    .contact {
        height: 100%;
    }

    .contact-content {
        flex-direction: column;

        .contact-form,
        .contact-text {
            width: 100%;
            height: 50%;
        }

        .contact-form {
            align-items: center;

            input,
            textarea {
                width: 80%;
                height: 50px;
            }

            textarea {
                height: 100px;
            }

            button {
                height: 30px;
            }
        }

    }
}