* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: italic;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(53, 52, 52);
  color: whitesmoke !important;
}

a{
  text-decoration: none !important;
}